<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="jobsity" value="https://pkgs.dev.azure.com/nindo/_packaging/jobsity/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <jobsity>
            <add key="Username" value="juan_osiris_095@hotmail.com" />
            <add key="ClearTextPassword" value="i7maiufusbsejgfsgko6s24hi3honul3n2el2egdmi3zre2iawiq" />
        </jobsity>
    </packageSourceCredentials>
</configuration>
