/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin-top: 3rem;
}

app-root {
  width: 100%;

  .alert {
    padding: 1rem;

    &.alert-error {
      color: #ff0062;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

img.avatar {
  width: 35px;
  border-radius: 100%;

  &.avatar-lg {
    width: 75px;
  }
}

.hidden {
  visibility: hidden;
}